# Estaciones Meteorológicas

**Source:** *https://www.aemet.es/documentos/es/conocermas/recursos_en_linea/publicaciones_y_estudios/publicaciones/NT31_AEMET/NT_31_2_Analisis_temp_series.pdf*

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

pd.options.display.max_columns=None

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Obtenemos información de todas las estaciones disponibles
url = f'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones'
url

'https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones'

In [3]:
# Importamos la librería requests
import requests

# Cargamos la api key
querystring = {'api_key': '...'}

# Realizamos el request
r = requests.get(url, params=querystring, verify=False)
r_json = r.json()
r

In [4]:
# Exploramos el archivo JSON
r.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/ae68d4ed',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/0556af7a'}

In [5]:
# Obtenemos el link del que descargaremos los datos
data_url = r.json()['datos']
r_data = requests.get(data_url, params=querystring, verify=False)

# Vemos el contenido
stations = r_data.json()
df = pd.DataFrame(stations)
df

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,08186,023224E
1,411734N,BARCELONA,4,0076,BARCELONA AEROPUERTO,08181,020412E
2,412506N,BARCELONA,408,0200E,"BARCELONA, FABRA",,020727E
3,412326N,BARCELONA,6,0201D,BARCELONA,08180,021200E
4,414312N,BARCELONA,291,0149X,MANRESA,08174,015025E
...,...,...,...,...,...,...,...
286,280523N,STA. CRUZ DE TENERIFE,15,C329Z,SAN SEBASTIÁN DE LA GOMERA,60008,170641W
287,282748N,STA. CRUZ DE TENERIFE,36,C449C,STA.CRUZ DE TENERIFE,60020,161519W
288,283545N,STA. CRUZ DE TENERIFE,62,C129Z,TAZACORTE,60004,175455W
289,282839N,STA. CRUZ DE TENERIFE,632,C447A,TENERIFE NORTE AEROPUERTO,60015,161946W
290,280249N,STA. CRUZ DE TENERIFE,64,C429I,TENERIFE SUR AEROPUERTO,60025,163340W

In [6]:
estaciones = ['0076', '0367', '1024E', '1082', '1109', '1249I',
              '1387', '1484C', '1690A', '2030', '2331', '2462',
              '2539', '2614', '2661', '2867', '3013', '3195',
              '3260B', '3469A', '4121', '4452', '4642E', '5270B',
              '5402', '5514', '5783', '6155A', '6325O', '7031',
              '8025', '8175', '8368U', '8416', '9170', '9263D',
              '9434', '9771C', '9981A', 'B228', 'B893', 'B954']

print('Se han seleccionado {0} estaciones repartidas por el territorio peninsular español y Baleares.'.format(len(estaciones)))

Se han seleccionado 42 estaciones repartidas por el territorio peninsular español y Baleares.

In [7]:
dataset = df.query('indicativo == @estaciones').reset_index(drop=True)[['indicativo', 'nombre', 'provincia', 'altitud']]
dataset = dataset.rename(columns={'indicativo': 'Indicativo', 'nombre': 'Nombre',
                                  'provincia': 'Provincia', 'altitud': 'Altitud'})
dataset

   Indicativo                            Nombre      Provincia Altitud
0        0076              BARCELONA AEROPUERTO      BARCELONA       4
1        0367                 GIRONA AEROPUERTO         GIRONA     143
2        1387                          A CORUÑA       A CORUÑA      57
3       1249I                            OVIEDO       ASTURIAS     336
4        1082                 BILBAO AEROPUERTO        BIZKAIA      42
5        1109              SANTANDER AEROPUERTO      CANTABRIA       3
6       1024E  DONOSTIA / SAN SEBASTIÁN, IGELDO       GIPUZKOA     250
7       1690A                           OURENSE        OURENSE     146
8       1484C                        PONTEVEDRA     PONTEVEDRA     113
9        2331                 BURGOS AEROPUERTO         BURGOS     891
10       2661           LEÓN, VIRGEN DEL CAMINO           LEON     912
11       2462             PUERTO DE NAVACERRADA         MADRID    1893
12       2867              SALAMANCA AEROPUERTO      SALAMANCA     790
13       2030                             SORIA          SORIA    1081
14       2539             VALLADOLID AEROPUERTO     VALLADOLID     846
15       2614                            ZAMORA         ZAMORA     656
16      3469A                           CÁCERES        CACERES     394
17       3013                  MOLINA DE ARAGÓN    GUADALAJARA    1062
18       3195                    MADRID, RETIRO         MADRID     667
19      3260B                            TOLEDO         TOLEDO     513
20       4452                BADAJOZ AEROPUERTO        BADAJOZ     186
21       4121                       CIUDAD REAL    CIUDAD REAL     626
22      4642E                HUELVA, RONDA ESTE         HUELVA      18
23       5402                CÓRDOBA AEROPUERTO        CORDOBA      90
24       5514                GRANADA BASE AÉREA        GRANADA     687
25      5270B                              JAÉN           JAEN     580
26       5783                SEVILLA AEROPUERTO        SEVILLA      34
27      6325O                ALMERÍA AEROPUERTO        ALMERIA      21
28      6155A                 MÁLAGA AEROPUERTO         MALAGA       7
29       7031             SAN JAVIER AEROPUERTO         MURCIA       4
30       8175               ALBACETE BASE AÉREA       ALBACETE     702
31       8025                  ALACANT/ALICANTE       ALICANTE      81
32      8368U                            TERUEL         TERUEL     902
33       8416                          VALÈNCIA       VALENCIA      11
34       9170               LOGROÑO, AEROPUERTO       LA RIOJA     353
35      9771C                            LLEIDA         LLEIDA     186
36      9263D              PAMPLONA, AEROPUERTO        NAVARRA     459
37      9981A    ESTACIÓN DE TORTOSA (ROQUETES)      TARRAGONA      50
38       9434              ZARAGOZA, AEROPUERTO       ZARAGOZA     249
39       B954                 IBIZA, AEROPUERTO  ILLES BALEARS       6
40       B893               MENORCA, AEROPUERTO  ILLES BALEARS      91
41       B228                     PALMA, PUERTO  ILLES BALEARS       3